Build/Release
Build/Debug
Build/GeogebraBuild
Build/CandidacyBuild
Build/Unity
[Bb]in/
[Oo]bj/
.vs/
_ReSharper*
.vs/
*.suo
*.user
*.orig
*.rej
*.InstallLog
*.VC.db
desktop.ini

# Unity
UnityClarity/Library/
UnityClarity/Assets/References/
UnityClarity/Logs/
UnityClarity/Temp/
UnityClarity/Assets/SteamVR