Build/Release
Build/Debug
Build/GeogebraBuild
Build/CandidacyBuild
Build/EscherBuild
Build/Unity
[Bb]in/
[Oo]bj/

.vs
_ReSharper*
.vs/
*.suo
*.user
*.orig
*.rej
*.InstallLog
*.VC.db
desktop.ini

# Unity
/Source/UnityClarity/Library/
/Source/UnityClarity/Assets/References/
/Source/UnityClarity/Logs/
/Source/UnityClarity/Temp/
/Source/UnityClarity/Assets/SteamVR/